spring:
  application:
    name: product-service
  data:
    mongodb:
      host: localhost
      port: 27018
      database: product-service
      username: admin
      password: password
      authentication-database: admin